.para{
  font-family: 'abel';
  font-variant: small-caps;
  padding: 16px;
}


.para__title{
  color: $color01;
  font-size: 70px;
  position: absolute;
  top: 10px;
  left: 16px;
}



.para__about{
  font-size: 32px;
  text-align: center;
}

.para__menu{
  color: $color01;
  font-size: 60px;
  position: absolute;
  top: 24px;
  left: 16px;
}

.para__contact{
  font-size: 25px;
  text-align: center;
  padding: 20px;
}



//MEDIAQUERIES//

@media only screen and (max-width: $tablet) {
.para__about{
  font-size: 20px;
}
.para__title{
  font-size: 55px;
  top: 10px;
}
.para__contact{
  font-size: 15px;
}
}

@media only screen and (max-width: $phone) {
.para__title{
  font-size: 30px;
  top: 5px;
  left: 8px;
}
.para__about{
  font-size: 15px;
}
.para__menu{
  font-size: 35px;
  top: -2px;
  left: 8px;
}
.para__contact{
  font-size: 12px;
}





}
