@import 'fonts';
@import 'reset';
@import 'variables/colour';
@import 'variables/mediaqueries';
@import 'components/header';

//Body
html,
body {
    font-family: 'abel', sans-serif;
    color: $colour05;
    background-color: $colour05;
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 960px;
}

// Headings
h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

//forms
input {
    border: 2px solid white;
    border-radius: 5px;
    padding: 15px 30px;
    box-sizing: border-box;
    width: 100%;
}

